@import '~/pages/custom.scss';

body {
  margin: 0;
  padding: 0;
  font-family: roboto, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  max-width: 1280px;
  margin: 90px auto 150px;
  @media (max-width: 64em) {
    margin: 80px auto 120px;
  }
}

.small-top-margin {
  max-width: 1280px;
  margin: 65px auto 150px;
  @media (max-width: 64em) {
    margin: 60px auto 120px;
  }
}

.no-margin {
  margin-top: 60px;
}

@font-face {
  font-family: 'Bebas Kai';
  src: url('/fonts/BebasKai.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.container-fluid {
  max-width: 1280px;
}

button {
  border: none;
  background: none;
}

// add style for when focusing on all elements
*:focus {
  outline: #08f auto 2px !important;
}
// When mouse is detected, remove outline from ALL focused elements.
body.using-mouse *:focus {
  outline: none !important;
}

[data-reach-menu-item] {
  @media (max-width: 1024px) {
    padding: 12px 14px !important;
  }
}

.skip-links {
  transform: translateY(-200%);
  outline: #08f auto 3px !important;
  position: absolute;
  padding: 1rem;
  top: 10px;
  background: #fff;
  font-weight: 700;
}

.skip-links:focus-within {
  transform: translateY(0%);
}

.solid-tooltip {
  max-width: 80vw;
  @media (min-width: 981px) {
    width: 450px;
  }
  background: black;
  color: white;
  opacity: 1 !important;
  pointer-events: auto !important;
  &:hover {
    visibility: visible !important;
  }
}

.btn {
  font-size: 14px;
  font-weight: 500;
  margin-right: 5px;
  margin-left: 5px;
  vertical-align: middle;

  // @TOFIX, better manage bootstrap and custom colors
  &-secondary {
    background: #eee !important;
    border: #eee !important;
    color: #212529 !important;
  }

  &-primary {
    background: #eee !important;
    background-color: #2987cd !important;
    border-color: #2987cd !important;

    &:hover {
      background-color: #2372ad !important;
      border-color: #216ba3 !important;
    }
  }
  // &:focus,
  // &.focus {
  //   box-shadow: none !important;
  //   outline: -webkit-focus-ring-color auto 1px !important;
  // }

  &:disabled {
    cursor: default;
  }

  svg {
    font-size: 20px;
  }
}

.btn-big {
  padding: 10px 20px;
}

.btn-lg,
.btn-md {
  margin-bottom: 5px;
  margin-left: 0;
}

.btn-outline-primary {
  border: 1px solid theme-color('primary') !important;
  color: theme-color('primary');
  background-color: transparent;

  &:hover {
    background-color: theme-color('primary') !important;
    color: white;
    opacity: 0.8;
  }
}

.list-filter .btn {
  margin: 0px;
}

.btn-action {
  font-size: 0.8em;
  margin-left: 2%;
  margin-right: 2%;
  border-radius: 5px;
  box-shadow: 1px 2px 8px rgba($color: #000000, $alpha: 0.2);
}

.btn-card {
  width: 100%;
}

.btn-home {
  height: 48px;
  min-width: 120px;
}

.cc-window.cc-invisible {
  // opacity: 1;
  // display: block!important;
}

.form-check,
.form-check label {
  cursor: pointer;
}
.form-check.disabled label,
.form-check.disabled input {
  cursor: not-allowed !important;
}

.form-control {
  color: black !important;
}

.btnZone {
  margin-top: 15px;
}

// for Filter.js
.list-filter {
  .dropdown-item {
    cursor: pointer;

    &.active,
    &:hover {
      background: theme-color('primary');
      color: white;
    }
  }
}

[data-reach-menu] {
  z-index: 10;
}

// for some reason, some tooltips don't apply style, so we have to force this style to them
.forceTooltipBg {
  background: black;
  color: white;
}
