.shareBtns {
  position: relative;

  .share-button-bg {
    text-align: center;
    line-height: 1.1;
    white-space: nowrap;
    font-size: 15px;
    font-weight: 500;
    padding: 6px 15px;
    display: flex;
    align-items: center;
    color: #777;
    letter-spacing: 2px;
    border-radius: 4px;
    border: 1px solid #ddd;
    cursor: pointer;
    &:hover {
      background: #f3f3f3;
    }
    svg {
      width: 20px;
      height: 20px;
      margin-right: 7px;
    }
    &.special {
      margin: 0 0 0 20px !important;
      padding: 0 !important;
      border: none !important;
      &:hover {
        background: none;
        color: black !important;
      }
    }
  }
}

.share-dialog {
  display: none;
  &.is-open {
    display: block;
    z-index: 2;
  }

  .alert {
    margin: 15px 0 0 !important;
    display: none;
  }

  button {
    border: none;
    background: transparent;
    padding: 0;
  }

  header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .targets {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    margin-bottom: 0px;

    @media (max-width: 480px) {
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
    }
  }

  .close-button {
    border: 1px solid #eee;
    height: 33px;
    width: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 50%;
    margin-top: -4px;
    background: #eee;
    &:hover {
      background: #cdcdcd;
    }
  }

  .link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 4px;
    background-color: #eee;
  }

  .pen-url {
    margin-right: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .resp-sharing-button__link,
  .resp-sharing-button__icon {
    display: inline-block;
  }

  .resp-sharing-button__link {
    text-decoration: none;
    color: #fff;
    // margin: 0.5em
  }

  .resp-sharing-button {
    text-align: left;
    border-radius: 5px;
    transition: 25ms ease-out;
    padding: 0.5em 0.75em;
    line-height: 17px;
  }

  .resp-sharing-button--twitter {
    background-color: #55acee;
  }

  .resp-sharing-button--twitter:hover {
    background-color: #2795e9;
  }

  .resp-sharing-button--facebook {
    background-color: #3b5998;
  }

  .resp-sharing-button--facebook:hover {
    background-color: #2d4373;
  }

  .resp-sharing-button--reddit {
    background-color: #5f99cf;
  }

  .resp-sharing-button--reddit:hover {
    background-color: #3a80c1;
  }

  .resp-sharing-button--linkedin {
    background-color: #0077b5;
  }

  .resp-sharing-button--linkedin:hover {
    background-color: #046293;
  }

  .resp-sharing-button--email {
    background-color: #777;
  }

  .resp-sharing-button--email:hover {
    background-color: #5e5e5e;
  }

  .resp-sharing-button--link {
    // background-color: #ab7f39;
    background-color: #e18667;
  }

  .resp-sharing-button--link:hover {
    // background-color: #9f7531;
    background-color: #df6f49;
  }

  .resp-sharing-button--whatsapp {
    background-color: #25d366;
  }

  .resp-sharing-button--whatsapp:hover {
    background-color: #1da851;
  }

  .resp-sharing-button--facebook {
    background-color: #3b5998;
    border-color: #3b5998;
  }

  .resp-sharing-button--facebook:hover,
  .resp-sharing-button--facebook:active {
    background-color: #2d4373;
    border-color: #2d4373;
  }

  .resp-sharing-button--twitter {
    background-color: #55acee;
    border-color: #55acee;
  }

  .resp-sharing-button--twitter:hover,
  .resp-sharing-button--twitter:active {
    background-color: #2795e9;
    border-color: #2795e9;
  }

  .resp-sharing-button--email {
    background-color: #777777;
    border-color: #777777;
  }

  .resp-sharing-button--email:hover,
  .resp-sharing-button--email:active {
    background-color: #5e5e5e;
    border-color: #5e5e5e;
  }

  .resp-sharing-button--link {
    // background-color: #ab7f39;
    // border-color: #ab7f39;
    background-color: #e18667;
    border-color: #e18667;
  }

  .resp-sharing-button--link:hover,
  .resp-sharing-button--link:active {
    // background-color: #9f7531;
    // border-color: #9f7531;
    background-color: #df6f49;
    border-color: #df6f49;
  }

  .resp-sharing-button--linkedin {
    background-color: #0077b5;
    border-color: #0077b5;
  }

  .resp-sharing-button--linkedin:hover,
  .resp-sharing-button--linkedin:active {
    background-color: #046293;
    border-color: #046293;
  }

  .resp-sharing-button--reddit {
    background-color: #5f99cf;
    border-color: #5f99cf;
  }

  .resp-sharing-button--reddit:hover,
  .resp-sharing-button--reddit:active {
    background-color: #3a80c1;
    border-color: #3a80c1;
  }

  .resp-sharing-button--whatsapp {
    background-color: #25d366;
    border-color: #25d366;
  }

  .resp-sharing-button--whatsapp:hover,
  .resp-sharing-button--whatsapp:active {
    background-color: #1da851;
    border-color: #1da851;
  }

  .resp-sharing-button--telegram {
    background-color: #54a9eb;
  }

  .resp-sharing-button--telegram:hover {
    background-color: #4b97d1;
  }
}
